{% extends 'base.html' %}
{% block content %}
<div style="margin-left: 50px; margin-right: 50px; margin-top: 50px">

  <h1 style="margin-top: 30px">About MuseApp</h1>
  <hr>

  <p>The melodies created in this project are meant to be an inspiration for musicians looking for ideas. With each iteration, the system generates 5 melodies and asks you to rate each melody. Once you submit your ratings, the system generated another set of melodies based on your ratings. With each iteration, the melodies generated get closer to your taste!</p>

</div>

{% endblock %}