{% extends 'base.html' %}

{% block content %}

<div style="margin-left: 50px; margin-right: 50px">
    <h3 style="margin-top: 30px;">{{ genre }} - iteration {{ iteration_num }}</h3>

  <div class="row" style="margin-top: 30px;">
      <!-- melodies -->
      <div class="col">
        <ul>
            {% for path in melodies_path %}
                <li>
                    <div class="row">
                        <div class="col">
                            Melody {{ forloop.counter }}:
                            <figure style="margin-top: 10px;">
                                <audio
                                    controls
                                    src={{path}}>
                                        Your browser does not support the
                                        <code>audio</code> element.
                                </audio>
                            </figure>
                        </div>
                        <div class="col" style="margin-top: 45px;">
                            <a class="btn btn-outline-primary btn-sm" href="{{path}}" download>Download</a>
                        </div>

                    </div>
                </li>
            {% endfor %}
        </ul>
      </div>

      <!-- rating form -->
      <div class="col">
          <div style="margin-top: 35px;">
              <form method="post">
                  {% csrf_token %}
                  {% for field in form %}
                     <div class="fieldWrapper" style="margin-bottom: 85px;">
                         {{ field.errors }}
                         <label style="margin-right: 10px;">
                             {{ field.label_tag }}
                         </label>
                         {{ field }}
                    </div>
                  {% endfor %}
                  <input type="hidden" name="itr" value="{{iteration_num}}">
                  <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
              </form>
          </div>
      </div>


  </div>
</div>

{% endblock %}